@model WorkoutTracker.Web.ViewModels.WorkoutViewModel

@{
    ViewBag.Title = "View All";
}
<script src="~/Scripts/app/view-all.js"></script>
<div id="workoutContainer">
    <h4>View All</h4>
    <hr />
    @if (Model.Workouts != null && Model.Workouts.Count() > 0)
    {
        foreach (var workout in Model.Workouts)
        {
            <div class="panel panel-success">
                <div class="panel-heading workout-panel-heading">@workout.WorkoutTitle</div>
                <div class="panel-body">
                    <div class="workout-init">
                        @Html.ActionLink("Edit", "EditWorkout", new { id = workout.WorkoutId }, new { @class = "btn btn-primary btn-workout-md" })
                        <button type="button" class="btn btn-danger btn-workout-md" onclick="deleteWorkout(@workout.WorkoutId)">Delete</button>
                        @Html.ActionLink("Start", "StartWorkout", new { id = workout.WorkoutId }, new { @class = "btn btn-success btn-workout-md" })
                        @Html.ActionLink("End", "EditWorkout", new { id = workout.WorkoutId }, new { @class = "btn btn-warning btn-workout-md" })
                    </div>
                </div>
            </div>
        }
    }
</div>